.profile {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  background-color: $white;
  border-radius: 5px;
}

.profile__img {
  width: 100%;
  height: 310px;
  overflow: hidden;
}

.profile__photo {
  width: 100%;
  margin-top: -30px;
}

.profile__desc {
  width: 100%;
  height: auto;
  text-align: center;
}

.profile__header {
  margin: 0;
  padding: 0;
  font-size: 34px;
  color: $text-dark-grey;
}

.profile__position {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 18px;
  color: $text-blue;
}

.profile__icons-list {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 60px;
    width: 90%;
    height: 1px;
    background-image: $stroke-linear-grey;
  }
}

.profile__link {
  display: block;
  width: 18px;
  height: 18px;
}

.profile__icons-item {
  width: 20px;
  height: 20px;

  &:not(:first-child) {
  margin-left: 20px;
  }
}

.profile__svg {
  display: block;
  width: 20px;
  height: 20px;
  fill: $black;
}

.profile__footer {
  display: flex;
  justify-content: space-around;
}

.profile__footer-link {
  position: relative;
  margin-bottom: 20px;
  color: $text-dark-grey;
  text-transform: uppercase;
  text-decoration: none;

  &:first-child {
    &::after {
      content: "";
      position: absolute;
      top: -15px;
      right: -35%;
      width: 1px;
      height: 200%;
      background-image: $stroke-vertical;
    }  
  }
}